:root {
  --navy: #07112c;
  --text: #0f172a;
}

/*applies to all elements*/
* {
  box-sizing: border-box;
}

/*html, body and root stretch full hieght*/
html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, Segoe UI, Roboto, Helvetica, Arial;
  color: var(--text);
}

/*main page wrapper*/
.layout {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* header at the top of the page */
.topbar {
  height: 4rem;
  background: #fff;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}

/*content in the main area*/
.content {
  padding: 24px;
}
