body {
  height: 100vh;
}
#flex_body {
  display: flex;
  min-width: 100vw;
  flex-direction: row;
  margin: 0;
}

#sidebar > div {
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

#sidebar {
  flex: 1;
  background-color: lightcoral;
}

#usescale {
  flex: 5;
}

#usescale > div > textarea {
  padding: 5px;
  border-bottom: 1px solid #ccc;
  width: 30%;
}
