.horizontal-sidebar {
  height: 100vh;
  background: #ffffffff;
  color: #222;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  transition: width 0.3s;
  z-index: 101;
  display: flex;
  flex-direction: row;
  position: relative;
}
.horizontal-sidebar.open {
  width: 25rem;
  min-width: 25rem;
  max-width: 25rem;
}
.horizontal-sidebar:not(.open) {
  width: 2rem;
  min-width: 2rem;
  max-width: 2rem;
}

.horizontal-sidebar-content {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #f7f9fc;
}

.horizontal-sidebar-top {
  padding: 0.5rem;
  border-bottom: 0.0625rem solid #ddd;
}

.horizontal-sidebar-middle {
  flex: 1;
  overflow-y: scroll;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

.horizontal-sidebar-toggle {
  position: absolute;
  top: 1.0625rem;
  right: 0.03125rem;
  width: 2rem;
  height: 2.875rem;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.horizontal-sidebar-toggle-icon {
  font-size: 1.375rem;
}
