.square {
  background: #000f46;
  color: #fff;
  border-radius: 0.6rem;
  width: 13.5rem;
  height: 13.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 500;
  border: 0.125rem solid transparent;
  cursor: pointer;
  transition: box-shadow 0.15s, border 0.15s;
  margin: 0.5rem;
  padding: 0;
}
.square:hover {
  box-shadow: 0 0.25rem 1rem 0 rgb(6, 28, 114);
}
.square--selected {
  border: 0.125rem solid #a78bfa;
}
.square__title {
  text-align: center;
  width: 100%;
}
.custom-square {
  background-color: #6abdf5;
  color: rgb(255, 255, 255);
}

.custom-square:hover {
  box-shadow: 0 0.25rem 1rem 0 #5587a9;
}
