.table-section {
  padding: 0.5rem;
}

.table-section-title {
  margin: 0rem;
  font-size: 1.5rem;
}

.table-section-container {
  overflow-x: auto;
  overflow-y: auto;
  max-height: 88vh;
  border: 0.0625rem solid #ccc;
  border-radius: 0.5rem;
}

.table-section-table {
  border-collapse: collapse;
  min-width: 62.5rem;
  table-layout: fixed;
  width: 100%;
}

.table-section-table tbody tr.row-highlight td:not(:first-child) {
  background-color: #fff6cc;
  transition: background-color 120ms ease-in;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.06);
}

.table-section-table thead th {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #dadada9a;

  border: 0.0625rem solid #9e9e9e;
  padding: 0.5rem;
}

.table-section-th,
.table-section-td {
  border: 0.0625rem solid #9e9e9e;
  padding: 0.5rem;
  height: auto;
  vertical-align: top;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.table-section-td:has(.editable-cell.grayed) {
  background-color: #9b9b9b;
}

.table-section-table thead tr {
  background-color: #f7f9fc;
  top: 0;
  position: sticky;
  z-index: 2;
  font-weight: normal;
}

.cell-with-menu {
  position: relative;
  padding: 0.5rem;
}

.table-section-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.table-section-export-btn {
  background: #092c61;
  color: #ffffff;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  padding: 0.35rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: none;
  transition: background 0.2s, border 0.2s;
  cursor: pointer;
}
.table-section-export-btn:hover {
  background: #1c50a4;
  border-color: #a1a1aa;
  color: rgb(255, 255, 255);
}

.editable-cell {
  padding: 0.3rem 0.3rem;
  border: 1px solid transparent;
  border-radius: 4px;
  min-height: 28px;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  width: 100%;
  height: 100%;
}

.editable-cell:hover {
  border-color: #cbd5e1;
  background-color: #f9fafb;
  width: 100%;
  height: 100%;
}

.editable-input,
textarea.editable-input {
  width: 100%;
  line-height: 1.4;
  padding: 0.3rem 0.3rem;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  resize: none;
}

.editable-input:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}


.editable-cell.grayed {
  background-color: #9b9b9b;
  border-color: transparent;
  color: #c1c1c1;
  cursor: not-allowed;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.04);
}

.editable-cell.grayed:hover {
  background-color: #9b9b9b;
  border-color: #8697b9;
}
