.use-scale-block {
  display: flex;
  
  border: 0.125rem solid #cfd0d1ff;
  overflow: hidden;
  width: 20rem;
  height: 7rem;
  background: #fff;
  margin: 0.5rem;
}

/*level indicator*/
.use-scale-block-level {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222;
  font-size: 1rem;
  background: #ecf2f7ff;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

/*layer value*/
.use-scale-block-label {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--label-bg, #f600f6ff);
  border: 0.0625rem solid #cfd0d1ff;
  border-left: 0.125rem solid #cfd0d1ff;
  color: #222;
  font-size: 1rem;
}

/* Edit icon positioned on the block */
/*same icon from other menus*/
.use-scale-block-edit-img {
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  width: 1.2rem;
  height: 1.2rem;
  background: transparent;
  z-index: 10;
  cursor: pointer;

}