<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dashboard/dashboard.css') }}"
    />
    <title>Document</title>
  </head>

  <body style="height: 100vh">
    <h1>This is the dashboard for {{ user }}</h1>
    <div id="Flexx" style="display: flex">
      <form id="new_template_form">
        <input type="text" id="new_template_title" name="new_template_title" />
        <button type="button" id="create_template" style="flex-grow: 1">
          Create New Template
        </button>
      </form>
    </div>
    <div style="display: flex">
      <div id="frame"></div>
      <button id="open_template">Open Template</button>
    </div>
    <div id="flex_body">
      <div id="sidebar">
        <div draggable="true">Lv5: Full use of AI</div>
        <div draggable="true">Lv4: Significant use of AI</div>
        <div draggable="true">Lv3: Limited use of AI</div>
        <div draggable="true">Lv2: Minimal use of AI</div>
        <div draggable="true">Lv0: No use of AI</div>
      </div>
      <div id="usescale"></div>
    </div>
    <button id="add_row">Add row</button>
    <button id="delete_row">Delete row</button>
    <button id="jsonify">Get JSON</button>
    <button id="save">Save template</button>
  </body>
  <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
</html>
